* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: "Poppins", sans-serif;
}
nav {
  position: absolute;
  padding: 3rem 10rem;
  width: 100%;
  @media (max-width: 500px){
    display: none;
  }
}

.containers {
  height: 100vh;

  .main-title {
    top: 30%;
    left: 50%;
    font-size: 6rem;
    text-transform: uppercase;
    transform: translate(-50%, -30%);
    position: absolute;

    @media (max-width: 500px){
      font-size: 3rem;
    }
  }

  img {
    width: 100%;
    height: 110vh;
    position: absolute;
    object-fit: cover;
    z-index: -1;
  }
}

.content {
  padding-top: 3rem;
  width: 100%;
  background-color: rgb(24, 24, 24);
  min-height: 100vh;
  z-index: 2;
  position: absolute;

  .content-images {
    text-align: center;
  }

  .text {
    padding: 3rem;
    font-size: 1.5rem;
  }
}
